body    {
    background-color: #202123;
    color: #cacaca;
    font-family: Arial;
    font-size: 1em;
}

h1  {
    text-align: center;
}

textarea   {
    margin: auto;
    width: 500px;
    min-height: 500px;
    resize: none;
    border-color: #ccc;
    background-color: #202123;
    color: #cacaca;
    font-family: Arial;
    font-size: 1em;
    padding: 1em;
}

textarea:focus, input:focus{
    outline: none;
}

.half-l   {
    float: left;
    width: 50%;
    text-align: left;
}

.half-r   {
    float: right;
    width: 50%;
    text-align: left;
}

#output {
    margin: auto;
    width: 500px;
    min-height: 500px;
    border: 0.05em;
    border-color: #ccc;
    background-color: #202123;
    border-style: solid;
    font-size: 1em;
    padding: 1em;
    overflow-y: visible;
}