.nightmode-corner   {
    top: 25px;
    left: 25px;
    position: fixed;
}

.bgColorShifter {
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    margin: 5px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}


.day {
    background-color: #d9b99b;
}
.day:hover { 
    background-color: #bb8c56;
    color: #ffffff;
}
.day:active {
    background: #3b2e09;
    color: rgb(255, 255, 255, .7);
}
.day:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}


.night1 {
    background-color: #282c34;
}
.night1:hover { 
    background-color: #1f2022;
    color: #ffffff;
}
.night1:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}
.night1:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}


.night2 {
background-color: #000000;
}
.night2:hover { 
background-color: #272727;
color: #ffffff;
}
.night2:active {
background: #505050;
color: rgb(255, 255, 255, .7);
}
.night2:disabled { 
cursor: not-allowed;
background: rgba(0, 0, 0, .08);
color: rgba(0, 0, 0, .3);
}